<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Form</title>
    <link rel="stylesheet" href="add_department.css">
</head>
<body>
<div class="form-container">
    <h1>Department Information</h1>
    <form>
        <div>
            <div>
                <label for="deptID">Department ID:</label>
                <input type="text" id="deptID" name="deptID" required>
            </div>
        </div>
        <div>
            <label for="deptName">Department Name:</label>
            <input type="text" id="deptName" name="deptName" required>
        </div>
        <div>
            <button type="submit" class="submit-btn">Submit</button>
        </div>
    </form>
</div>
</body>
</html>