<!DOCTYPE html>
<html>

<head>
    <title>Five Columns Table</title>
    <link href="/employee_view.css" rel='stylesheet' type='text/css' />
</head>

<body>
<h1></h1>
<table>
    <thead>
    <tr>
        <th>Emp ID</th>
        <th>Emp Name</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Past Exp</th>
        <th>current Exp</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Dep ID</th>
        <th>Email</th>
        <th>Number</th>
        <th>DOJ</th>
        <th>Aadhar No</th>
        <th>Pan No</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Learning Institute</th>
        <th>EmCont No</th>
        <th>Maritual Status</th>
        <th>Spouse Name</th>
        <th>Relationship</th>
        <th>Health Condition</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>


    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>

    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>
    <!-- Add more rows as needed -->
    </tbody>
</table>
</body>

</html>
